
body{
    margin: 0;
    font-size: 16px;
}
/* the header */
header {
    width: 100%;
    height: 61px;
   display: flex;
   justify-content: space-between;
   padding: 6px;
   align-items: center;
   border-bottom:2px solid #EC605D;


}

nav ul li {
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    
}
a {
    text-decoration: none;
    color:black;
}

header button {
    margin-right: 10px;
    padding: 14px 56px 14px 56px;
    background-color: #EC605D;
    width: Hug(166px);
    height: Hug(48px);
    border-radius: 8px;
    gap: 5px;
    font-style:normal;
    font-size: small;
    color: white;
    border: 0 transparent;
}


/*first section*/
.flexD{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
  .line{
    border: 3px solid #EC605D;
    width: 80px;
    margin-left: 10px;
    border-radius: 3px;
  }
.hero{
margin-top: 50px;  
display: flex;
align-items: center;
justify-content: center;
   

}
.hero button{
    margin-right: 10px;
    padding: 14px 56px 14px 56px;
    background-color: #EC605D;
    width: Hug (269px);
    height: Hug(68px);
    border-radius: 8px;
    gap: 5px;
    font-style:normal;
    font-size: small;
    color: white;
    border: 0 transparent;
}
.hero-big h1{
    font-size: 47px;
    font-weight: 900;

}
.hero-big span{
    color: #EC605D;
}
.first-food {
    display: flex;
    align-items: center;
    max-width: 309px;
   
    float: right;

    
}

.hero-text{
    max-width: 629px;
  
    padding: 40px;
   

}
.first-food img {
    width: 100%;
   
    border-radius: 700px;

}

/*second section */

.Menu{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    flex-wrap: wrap;
    
     
}
.Menu-head{
    text-align: center;
}
.Menu-head h3{
    color: #EC605D;
}
.best{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 250px));
    gap: 10px;
   
}


.best-img{
   height: 128px;
}
.best-img img{
    width: 100%;
    height: 100%;
}
.best-item{
    margin-top: 30px;
    border: 2px solid rgba(0,0,0,0.3);
 
 
}

.best-choice{
    display: flex;
    justify-content: space-between;
    height: 10px;
    margin-top: 9px;
}
.choice1{
    display: flex;
    align-items: center;
   
}
.choice1 h5{
    margin-left: 3px;
}
.kepper{
    margin: 5px;
   
}
.kepper button{
    margin-right: 10px;
    padding: 14px 56px 14px 56px;
    background-color: #EC605D;
    width: 100%;
    height: Hug(28px);
    border-radius: 8px;
    gap: 5px;
    font-style:normal;
    font-size: small;
    color: white;
    border: 0 transparent;
}
.df{
    width: 16px;
    height: 16px;
    background-color: rgb(215, 200, 200);
    border-radius: 20px;
    padding: 2px;

}
.df img{
   width: 100%;
}

/*Third Section*/
.Service{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.service-items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 213px);
    grid-gap: 30px;
}

.heart {
    width: 88px;
    height: 88px;
    background-color: #EC605D;
    border-radius: 13px;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;

}
.heart2 {
    width: 88px;
    height: 88px;
    background-color: #EC605D;
    border-radius: 13px;
    transform: rotate(20deg);
    opacity: 0.4;
}

.service-item{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
   height: auto;

    padding: 10px;
}

.service-item button{
    margin-right: 10px;
    padding: 14px 56px 14px 56px;
    background-color: #EC605D;
    width: 150px;
    height: Hug(28px);
    border-radius: 8px;
    gap: 5px;
    font-style:normal;
    font-size: small;
    color: white;
    border: 0 transparent; 
}

#love{
    position: relative;
    left: 35px;
    color: aliceblue;
    font-size: larger;
}

.Service h1{
    font-size: 49px;
}

.Service-head{
    text-align: center;
}

.Service h3{
    color: #EC605D;
}



/*Forth secton*/ 

.About{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 50px;
   padding: 50px;
    
}

.About h3{
    color: #EC605D;
}

.theImg, .aboutplus{
    max-width: 545px;
   
}

.aboutplus{
    margin-left: 100px;
}
.theImg img{
width: 100%;
}

.aboutplus button{
    margin-right: 10px;
    padding: 14px 56px 14px 56px;
    background-color: #EC605D;
    width: 200px;
    height: Hug(28px);
    border-radius: 8px;
    gap: 5px;
    font-style:normal;
    font-size: small;
    color: white;
    border: 0 transparent;
}

/*fifth section*/
.Testimonial{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items:center;
    background: linear-gradient(#FFEDED, #FFEEED);

}
.people {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 50px;
}

.fieldimage{
    width: 78px;
    height:68px;
 

}
.fieldimage img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    

}
legend{
    position: relative;
    left: 40px;
   
   
  
}
fieldset{
    margin-top: 20px;
    height: auto;
    padding-left: 7px;
    border-radius: 10px;
    background-color: white;
}

.testabout{
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
     

}
.testabout h1{
font-size: 30px;
}
.testabout span{
    color: #EC605D;
}
.testabout h3{
    font-size: small;
    color: #EC605D;
}

.testabout button{
    margin-right: 10px;
  
    background-color: #EC605D;
    width: 40px;
    height:40px;
    border-radius: 8px;
    gap: 5px;
    font-style:normal;
    font-size: small;
    color: white;
    border: 0 transparent;
}

.buttons {
    display: flex;

}

/*sixth section*/

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
   padding:20px;
}

.theInput{
    border: 1px solid rgba(0,0,0,0.3);
}
.theInput input{
    padding: 18px;
    width: 300px;
    border: 0 solid transparent;
}

.theInput input:focus{
    border: 0 solid transparent;
}
.theInput button{

 margin-right: 10px;
    padding: 10px;
    background-color: #EC605D;
    width: 120px;
   height: 40px;
    border-radius: 8px;
    gap: 5px;
    text-align: center;
    font-style:normal;
    font-size: small;
    color: white;
    border: 0 transparent; }



    /* Media querys */

    @media (max-width:1087px) and (min-width:600px) {
          nav{
            display: none;
          }
          .About{
            display: flex;
            flex-direction: column;
            padding: 30px;
            justify-content: center;
          }
          .theImg{
            border-bottom: 3px solid #EC605D;
          }
          .aboutplus{
            margin: 30px;
            box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
            padding: 39px;
            padding-bottom: 39px;  
        }
        .best{
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 250px));
            gap: 30px;

        
        }
        .hero{
            font-size: calc(1.3em + 5px);
        }
        .Testimonial{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

        }

        header button{
            width: auto;
          }
    }


    @media (max-width:780px) {
   
        header{
            width: 100%;
            
        }
        .Testimonial{
             width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            

        }
        .people {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        fieldset{
            max-width: 250px;
            height: auto;
        }

        nav{
            display: none;
        }
        .best{
            display: flex;
            flex-direction: column;
             align-items: center;
             justify-content: center;
            width: 100%;
        }
        .best-item{
            max-width: 250px;
            height: auto;
        }
        .service-items{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .service-item{
         
            max-width: 250px;
            height: auto;
        }

        .hero{
            font-size: calc(1.2em - 4px);
        }
    
    .About{
      display: flex;
      flex-direction: column;
      padding: 30px;
      justify-content: center;
      align-items: center;
    

    }
    .Service h1{
        font-size: 20px;
    }
    .theImg{
      border-bottom: 3px solid #EC605D;
    }
    .aboutplus{
      margin: 30px;
      box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
     padding: 40px;  
      height: auto;
  }
  header button{
    width: auto;
  }
  header h1{
    font-size: 20px;
  }
 

    }